<div class="header py-1 row">
  	<div class="col-sm-4">
        <b>Welcome {{(data.data.name)}},</b> Let's Cook!
	</div>
	<div class="col-sm-4">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search for Content Creators & Recipes" aria-label="Search">
	</div>
	<div class="col-sm-2">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Country
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">India</a>
	          <a class="dropdown-item" href="#">US</a>
	        </div>
	 </div>
	 <div class="col-sm-2">
	 	<button class="btn btn-sm btn-light" type="submit"><i class="fas fa-cart"></i></button>
	 </div>
</div>