<div class="row topmargin">
	<div class="col-sm-4">
	<h5>Company</h5>
	 <ul class="list-group">
	  <li class="list-group-item border-0"> Who we are</li>
	  <li class="list-group-item border-0"> Privacy policy</li>
	  <li class="list-group-item border-0"> Shopping</li>
	</ul>
	</div>

	<div class="col-sm-4">
	<h5>Contact</h5>
	 <ul class="list-group">
	  <li class="list-group-item border-0">+91-9930652325</li>
	  <li class="list-group-item border-0"> support@cookwitheniola.com</li>
	</ul>
	</div>

	<div class="col-sm-3">
		<div class="row h-100">
			<img src="assets\logo.png" class="logoimg">
			<div class="row d-inline">
				<a href="" class="float-right"><img alt="facebook" src="assets/ic_facebook.png" height="32px" width="32px"></a>
				<a href="" class="float-right"><img alt="twitter" src="assets/ic_twitter.png" height="32px" width="32px"></a>
				<a href="" class="float-right"><img alt="youtube" src="assets/ic_youtube.png" height="32px" width="32px"></a>
			</div>
			<p>Copyright © 2020 Eniola. All right reserved</p>
		</div>
	 	
	</div>
</div>

