<!DOCTYPE html>
<html>
<head>
  <title>Eniola</title>
</head>
<body>
 <div class="container-fluid">
   <div class="row">
     <div class="col-sm-3">
       <app-sidebar></app-sidebar>
     </div>
     <div class="col-sm-9">
       <div class="row">
         <app-header></app-header>
       </div>
       <div class="row">
         <app-main></app-main>
       </div>
       <div class="row">
         <app-footer></app-footer>
       </div>
       <app-apiservice></app-apiservice>
     </div>
   </div>
 </div>


</body>
</html>